<launch>
    <arg name="debug" default="false"/>
    <arg name="fullscreen" default="true"/>
    <arg name="start_delay" default="3.0" />
    <arg name="rviz" default="true"/>
    <arg name="args" default=""/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find pr2_description)/robots/pr2.urdf.xacro'"/>

    <arg unless="$(arg debug)" name="launch-prefix" value=""/>
    <arg     if="$(arg debug)" name="launch-prefix" value="gdb -ex run --args"/>

    <arg unless="$(arg fullscreen)" name="rviz-fullscreen" value=""/>
    <arg     if="$(arg fullscreen)" name="rviz-fullscreen" value="--fullscreen"/>

    <!-- 0. RViz -->
    <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find smpl_test)/config/config.rviz $(arg rviz-fullscreen)" launch-prefix="bash -c 'sleep $(arg start_delay); $0 $@' " />

    <node pkg="smpl_test" type="callPlannerEpase" name="call_planner_epase"
            launch-prefix="$(arg launch-prefix)" args="$(arg args)">
        <param name="planning_frame" value="odom_combined"/>

        <!-- 1. robot model (for planning) -->
        <rosparam param="robot_model">
            group_name: right_arm
            planning_joints:
                r_shoulder_pan_joint
                r_shoulder_lift_joint
                r_upper_arm_roll_joint
                r_elbow_flex_joint
                r_forearm_roll_joint
                r_wrist_flex_joint
                r_wrist_roll_joint
            kinematics_frame:
                torso_lift_link
            chain_tip_link:
                r_gripper_palm_link
        </rosparam>

        <!-- collision checking -->
        <rosparam command="load" file="$(find sbpl_collision_checking_test)/config/collision_model_pr2.yaml"/>

        <!-- planner params -->
        <rosparam command="load" file="$(find smpl_test)/config/pr2_right_arm.yaml"/>
        <param name="planning/mprim_filename" value="$(find smpl_test)/config/pr2.mprim"/>
        <param name="allowed_planning_time" value="600.0"/>
        <param name="num_threads" value="6"/>

        <!-- 2. scene -->
        <!-- 2.1 robot state -->
        <rosparam command="load" file="$(find smpl_test)/experiments/pr2_goal_shelf.yaml"/>

        <!-- 2.2 world state -->
        <param name="object_filename" value="$(find smpl_test)/env/shelf.env"/>

        <!-- 3. scenario -->
    </node>
</launch>

